<launch>

    <arg name="gui" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="verbose" default="false"/>

    <arg name="put_robot_in_world" default="false" />
    <arg name="put_robot_in_world_package" default="" />
    <arg name="put_robot_in_world_launch" default="" />

    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find smart_grasping_sandbox)/world/smart_grasping.world"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="verbose" value="$(arg verbose)"/>

      <arg name="physics" value="ode"/>
      <env name="GAZEBO_MODEL_PATH" value="~/.gazebo/models:${GAZEBO_MODEL_PATH}"/>
    </include>

    <group if="$(arg put_robot_in_world)">
        <include file="$(eval find(put_robot_in_world_package) + '/launch/' + put_robot_in_world_launch)">
            <arg name="x" value="$(arg x)" />
            <arg name="y" value="$(arg y)" />
            <arg name="z" value="$(arg z)" />
            <arg name="roll" value="$(arg roll)"/>
            <arg name="pitch" value="$(arg pitch)"/>
            <arg name="yaw" value="$(arg yaw)" />
        </include>
    </group>
</launch>
